body
{
    text-align: center;
}

.radio-container
{
    display: inline-block;
}

.button-container,
#btnNext
{
    margin-top: 10px;
}

#display
{
    font-size: 25vh;
}

.next-button
{
	width: 100px;
}

#btnNext
{
	padding: 5px 10px;	
}

#sub-button
{
	display: none;
}