body
{
    text-align: center;
}

.radio-container
{
    display: inline-block;
}

#level-container
{
	position: absolute;
    bottom: 10px;
    width: 98%;
}


#display
{
    font-size: 25vh;
}

#btnNext
{
	margin-top: 10px;
	padding: 5px 10px;	
}