body {
    background-color: #000;
    color: #aaa;
    text-align: center;
    font-family: 'Courier New', monospace;
}

.radio-container {
    display: inline-block;
}

#control-container {
    position: absolute;
    bottom: 6vh;
    width: 97%;
    margin-left: 0.75%;
}

#display {
    font-size: 25vh;
    height: 36vh;
    line-height: 36vh;
    margin-top: 13vh;
}

#btnNext {
    margin-top: 14px;
    padding: 5px 10px;
}

@media only screen and (max-width: 479px) {
    #radio-container,
    .radio-container {
        display: block;
        width: 120px;
    }
    #radio-container {
        margin: auto;
    }
    .radio-container {
        text-align: left;
        padding: 7px 0px;
    }
    .radio-container input,
    .radio-container label {
        vertical-align: middle;
    }
}